@page "/"
@using CrudBlazor.Shared
@inject IOsobaVM OsobaVM


@if (OsobaVM.Osobe.Any())
{
    <ul>
        @foreach (Osoba o in OsobaVM.Osobe)
        {
            <li>@o.Id @o.Name @o.Surname</li>
           
        }
     </ul>
}

@code
{
    
    
  
}
